@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Nunito:wght@400;500;600&family=Rubik:wght@300;400;500&family=Source+Sans+Pro:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', 'sans-serif';
  font-weight: 600;
}


nav{
    /* background-image: linear-gradient(150deg,#82cc3a, #7f11ce48, #227eaf); */
    background-color: #27282c;
    min-height: 8vh; /* Ayuda a darle altura minima a la clase*/
    display: flex;
    justify-content: space-between;
    padding-left: 3%;
    padding-right: 3%;
    align-items: center;
    width: 100%;
    height: 100%;
}

.container-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-nav{
  position: relative;
  background: #fff;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.1em;
  font-weight: 400;
  padding: 10px 30px;
  transition: 0.5s;
}

.btn-nav:hover{
  background: #6eff3e;
  color: #6eff3e;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  box-shadow: 0 0 35px #6eff3e;
}

.btn-nav:before{
  content: '';
  position: absolute;
  inset: 2px;
  background: #27282c;
}

button span {
  position: relative;
  z-index: 1;
}

button i{
  position: absolute;
  inset: 0;
  display: block;
}

button i::before {
  content: '';
  position: absolute;
  top: 0;
  left: 80%;
  width: 10px;
  height: 4px;
  background-color: #27282c;
  transform: translateX(-50%) skewX(325deg);
  transition: 0.5s;
}

button:hover i::before{
  width: 20%;
  left: 20%;
}

button i::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 20%;
  width: 10px;
  height: 4px;
  background-color: #27282c;
  transform: translateX(-50%) skewX(325deg);
  transition: 0.5s;
}

button:hover i::after{
  width: 20%;
  left: 80%;
}

.link-button{
  text-decoration: none;
  color: #fff;
  border-color: #fff;
  transition: 0.3s;
}

.link-button:active{
  transform: scale(0.8);
}