/* .container{
    height: 100vh;
}

.form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 500px;
    width: 370px;
    background-color: rgb(126, 118, 118);
    box-shadow: 5px 5px 20px #fff;
    border-radius: 38px;
    cursor: pointer;
} */