.card-cont{
    margin-top: 7%;
    display: flex;
    justify-content: center;
}

.card-cont2{
    display: flex;
}

.card{
    height: 400px;
    width: 200px;
    background-color: rgba(82, 78, 78, 0.4);
    box-shadow: 0 8px 32px 0 #82cc3a;
    backdrop-filter: blur(6.0px);
    transition: 0.4s;
    cursor: pointer;
}

.card:hover{
    height: 420px;
    width: 220px;
    background-color: rgba(82, 78, 78, 0.4);
    box-shadow: 0 8px 32px 0 rgb(243, 247, 60);
    backdrop-filter: blur(8.0px);
    border-radius: 5%;
}

.img-card{
    height: 200px;
    width: 200px;
    border-radius: 4%;
}

.intro-h{
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
}

.heart{
    background-color: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 5%;
}
.heart:hover{
    font-size: 19px;
}

.name{
    cursor: pointer;
    font-size: 25px;
    margin-bottom: 5%;
}

.name:hover{
    font-size: 23px;
    color: rgb(243, 247, 60);
}

.link {
    text-decoration: none;
    color: #fff;
}

.info-p {
    color: #fff;
    margin-bottom: 5%;
}

.x {
    background-color: rgb(204, 67, 67);
    border-radius: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    color: white;
}

.x:hover {
    border: 0;
}
  
.x:active{
    transform: scale(0.8);
}

