@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Nunito:wght@400;500;600&family=Raleway:wght@400;500;600&family=Rubik:wght@300;400;500&family=Source+Sans+Pro:wght@400;600&display=swap');

.container-fav{
    display: flex;
    justify-content: center;
    width: 100vw;
}

.container-select{
    display: flex;
    justify-content: space-between;
    height: 10%;
    margin-top: 3%;
    width: 80%;
}

.select-origin {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0!important;
    background: #25a305;
    background-image: none;
    flex: 1;
    padding: 0.5em;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    text-transform: uppercase;
}

.select-origin::-ms-expand{
    display: none;
}

.select{
    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    line-height: 3;
    background: #249b07;
    overflow: hidden;
    border-radius: .25em;
}

.select::after{
    content: '\25BC';
    position: absolute;
    top: 2;
    right: 0;
    padding: 0.1em;
    background-color: #fff;
    cursor: pointer;
    pointer-events: none;
    transition: 0.25s all ease;
}

.select:hover::after{
    color: #2ec508;
}