.cont-input{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-search {
    border-color: #fff;
    border-width: 1px;
    background-image: linear-gradient(
      150deg,
      #9500ff,
      #09f,
      #00DDFF
    );
    border-radius: 5px;
    font-size: 14px;
    padding: 10px 14px;
    cursor: pointer;
    transition: 0.3s;
    margin-left: 8px;
    color: #fff;
  }
  
  .btn-search:hover {
    border: 0;
  }
  
  .btn-search:active{
    transform: scale(0.8);
  }

  .input{
    display: block;
    padding: 0.7rem 2rem;
    border-radius: 5px;
    border: 0;
    outline: solid 1px #4285f4;
  }