.cont-about{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.cont-info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 600px;
    width: 450px;
    background-color: rgba(82, 78, 78, 0.4);
    box-shadow: 0 8px 32px 0 #82cc3a;
    backdrop-filter: blur(4.0px);
    border-radius: 38px;
    cursor: pointer;
}

.cont-info:hover{
    box-shadow: 5px 5px 50px #82cc3a; 
}

.lnk {
    text-decoration: none;
    font-size: 25px;
    transition: 0.5s;
    cursor: pointer;
}

.lnk:hover{
    color: blueviolet;
    font-size: 35px;
}

.h-info {
    margin-bottom: 25px;
    color: rgb(243, 247, 60);
}

.h-info:hover{
    font-weight: 900;
}

.perrito{
    width: 180px;
    height: 180px;
    transition: .3s;
    cursor: pointer;
}
.perrito:hover{
    width: 200px;
    height: 200px;
    transition: 0.4s;
}

.img{
    width: 150px;
    height: 80px;
}

.img:hover{
    width: 170px;
    height: 100px;
}

.img-In{
    width: 80px;
    height: 80px;
}

.img-In:hover{
    width: 90px;
    height: 90px;
}